.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  cursor: pointer;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  font-size: 24px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 21px;
  padding-right: 15px;
  align-items: center;
  justify-content: space-between;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card__text {
  font-weight: 900;
  margin: 0;
  line-height: 29px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 50%;
}

.card__like-button_active {
  background: transparent url(../images/like-active.svg) center no-repeat;
}

.card__delete-button {
  background: url(../images/Trash.svg) center no-repeat;
  width: 18px;
  height: 19.3px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
}

.card__delete-button:hover {
  opacity: 50%;
}
