.footer__text {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color: #545454;
  padding-top: 67px;
  padding-bottom: 60px;
  margin: 0%;
}

.footer {
  position: sticky;
}

@media screen and (max-width: 680px) {
  .footer__text {
    padding-left: 19px;
    width: 282px;
    height: 14px;
  }
}
