.header {
  border-bottom: solid 1px #545454;
  padding: 2%;
}

.header__image {
  width: 173px;
  height: 33px;
  padding: 0%;
}

@media screen and (max-width: 680px) {
  .header {
    padding: 0;
  }

  .header__image {
    width: 126px;
    height: 24px;
    padding: 2%;
  }
}
