.header {
  min-height: 120px;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.header__image {
  width: 173px;
  height: 33px;
  padding: 0%;
}

@media screen and (max-width: 680px) {
  .header {
    padding: 0%;
  }

  .header__image {
    width: 126px;
    height: 24px;
    padding: 2%;
  }
}
