.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 36px 36px 36px;
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  border: 1px solid #0000;
}

.modal__content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.modal__button-close {
  position: absolute;
  top: -40px;
  right: -40px;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  background-image: url(../images/+.png);
  background-size: cover;
  height: 40px;
  width: 40px;
  background-color: transparent;
  transform: rotate(45deg);
}

.modal__input {
  width: 358px;
  padding: 30px 0 0;
  margin-top: 24px 0;
  border-radius: 4px;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  height: 27px;
  font-size: 14px;
}

.modal__input:focus {
  border-bottom: 2px solid #000;
}

.modal__save-button {
  margin-top: 48px;
  padding: 0;
  height: 50px;
  width: 100%;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  margin-top: 34px;
  font-weight: 900;
  color: #000;
  height: 23px;
}
@media screen and (max-width: 600px) {
  .modal__container {
    position: relative;
    display: flex;
    width: 282px;
    height: auto;
    padding: 22px;
    border-radius: 10px;
  }

  .modal__title {
    font-size: 18px;
    margin: 0 0 45px;
  }

  .modal__input {
    font-size: 14px;
    margin: 0 0;
    width: 100%;
  }
  .modal__save-button {
    font-size: 14px;
    padding: 12px 0;
    width: 282px;
  }

  .modal__button-close {
    top: -40px;
    right: 0;
    height: 26px;
    width: 26px;
    transform: rotate(45deg);
  }
}
