.page {
  font-family: Inter, Arial, Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.page__content {
  border-bottom: 1px solid #545454;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
