.profile {
  display: flex;
  align-items: center;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description ";
  grid-template-columns: minmax(auto, 460px) auto;
  align-items: center;
}

.profile__edit-button {
  background: transparent url(../images/Edit-Button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: solid 1px #ffffff;
}
.profile__description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
}

.profile__name_edit {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  margin-right: 10px;
}

.profile__image {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
  background-position: center;
  margin-right: 30px;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: solid 2px #ffffff;
  background: transparent url(../images/Add-Button.svg) center no-repeat;
  color: #ffffff;
  font-size: 30px;
  font-weight: 200;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 60%;
}

.profile__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  margin: 0;
  padding-bottom: 7px;
}

@media screen and (max-width: 680px) {
  .profile {
    flex-direction: column;
    width: 282px;
    height: 286px;
    gap: 15px;
  }

  .profile__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 100%;
    width: 90%;
    text-align: center;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}
