@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/pages.css");
@import url("../blocks/header.css");
@import url("../blocks/content.css");
@import url("../blocks/footer.css");
@import url("../blocks/profile.css");
@import url("../blocks/cards.css");
@import url("../blocks/card.css");

.page {
  font-family: Inter, Arial, Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

.content {
  padding: 4%;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.header__image {
  width: 173px;
  height: 33px;
  padding: 0%;
}

.page__content {
  border-bottom: 1px solid #545454;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  border-bottom: solid 1px #545454;
  padding: 4%;
}

.profile {
  display: flex;
  align-items: center;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description ";
  grid-template-columns: minmax(auto, 460px) auto;
  align-items: center;
}

.profile__edit-button {
  background: transparent url(../images/Edit\ Button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: solid 1px #ffffff;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: solid 2px #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 30px;
  font-weight: 200;
}

.profile__add-button:hover {
  opacity: 60%;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  padding-bottom: 7px;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
}

.profile__image {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
  background-position: center;
  margin-right: 30px;
}

.cards {
  margin-top: 30px;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button:hover {
  opacity: 50%;
}

.text {
  margin: 0;
  line-height: 29px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer__text {
  width: 318px;
  height: 18px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color: #545454;
  padding-top: 67px;
  padding-bottom: 60px;
  margin: 0%;
}

.profile__name_edit {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  margin-right: 10px;
}

@media screen and (min-width: 480px) and (max-width: 880px) {
}
@media screen and (max-width: 680px) {
  .header__image {
    width: 126px;
    height: 24px;
  }

  .profile {
    flex-direction: column;
    width: 282px;
    height: 286px;
    gap: 15px;
  }

  .profile__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 100%;
    width: 90%;
    text-align: center;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }

  .footer__text {
    padding-left: 19px;
    width: 282px;
    height: 14px;
  }
}
